
$color-primary: #e67e22;
$color-secondary: #fff;
$color-tertiary :#000;
$color-happy : #f4f4f4;
$color-grey: #ededed;
$color-border:#e8e8e8;
$after-color:#e67e22;
$color-footer:#333;
$color-links:#888;
$color-facebook:#3b5998;
$color-twitter:#00aced;
$color-instagram:#517fa4;
$color-googleplus:#dd4b39;



//
// #slide {

// }
#slideDown {
  display: none;
}

body,* {
   margin: 0;
   padding: 0;
//    width: 100% !important;
//    height: 100% !important;
//    overflow-x: hidden !important;
}


h2:after{
  display: block;
    height: 2px;
    background-color: $after-color;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

header {

   background-image:linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),url(../img/hero.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;


    a {
        color: $color-secondary !important;
    }


   .logo-img {
        width: 180px;
    }

    .collapse{
        justify-content: flex-end;
        

    }
    
    .navbar-nav{
            float: right;
        }
    
    .jumbotron {
        background: none !important;
        color: $color-secondary;





    }
     .btn-full {
        background-color: $color-primary;
        border-color: $color-primary !important;
        border-radius: 50px !important;
        color: $color-secondary;
        &:hover {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }

    .btn-ghost {
        color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 50px ;
        &:hover{
            color: $color-secondary;
            background-color: $color-primary;
        }
    }
 }


// ANOTHER section

.flex-items {
  display: flex;
  margin: 0 auto;


  h3 {
    font-size: 20px;
  }
}



.Allrecipes {
li {
  overflow: hidden;
}
  .recipes {
    list-style-type: none;
    display: flex;
    background-color: $color-tertiary;


    img {
      width: 100%;
      opacity: 0.7;
      transform: scale(1.15);
      background: white;
      transition: transform 0.5s, opacity 0.5s;
      &:hover {
        opacity: 1;
       transform: scale(1.09);

      }
    }
  }
}

.junkFoodSection {
  margin-top: -35px;
}

.section-works {
  background-color: $color-happy;



}

.works{
      display: flex;
      justify-content: center;
.iphone-img {
      float: left;
  img {
    width: 162px;;
  }
}
.descrip{
  display:flex;
    margin: 16px;
    padding-left: 50px;
    div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 59px;
    width: 53px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}}}





.clearfix{
  clear: both;
}


// ICONS START

.icon-big {
  color: $color-primary;
  font-size: 50px;
}
 .icon-small {
   color: $color-primary;
   padding: 2px;
   // display: inline-block;
 }
//ICONS END



.download-logo{

  .btn-app {

    img {
      width: auto;
      height: 50px;
    }
  }
}




// COUNTY section
.cities {
  display: flex;
}

.city-lisbon {

  img{
    width: 100%;
  }
  a{
    color: $color-primary;
    &:hover {
      text-decoration: none;
    }
  }
}

.our-customers{

background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
 background-size: cover;
 color: $color-secondary;
 background-attachment: fixed;
 background-repeat: no-repeat;


cite img {
  height: 45px;
border-radius: 50%;
margin-right: 10px;
vertical-align: middle;
  }

  p{
        padding: 2%;
        font-style: italic;
        line-height: 145%;
        // position: relative;
        margin-top: 40px;

    &::before{
    content: "\201C";
    font-size: 500%;
    // display: block;
    position: absolute;
    top: 22px;
    left: 16px;
    }
  }
}



.healthy {
  background-color: $color-happy;
}

.price-meal {
  justify-content: center;
}

.plan-price {
// background: $color-grey;
div {
  // padding-left: 10px;
}

}


  .plan-priceDescription{
    font-size: 300%;
    color:$color-primary;
    margin-bottom: 2px;
    span {
        font-size: 30%;
    }
  }

// .plan-price {
//
//   div {
//
//     &:last-child {
//       text-align: center;
//       background-color: $color-secondary;
//     }
//   }
// }



.list {
     background-color: $color-secondary;
     padding: 2px;
     border: 1px solid $color-secondary;
     line-height: 2;
  ul {
  list-style-type: none;
  padding: 0;
  }
}


.signup {
  border-top: 1px solid $color-border;
    padding: 10px;
}

.btn-signup {
    border: 1px solid $color-primary;
    border-radius: 50px;
    background: $color-primary;
    color: $color-secondary;
    border: 1px solid $color-secondary;

    &:hover {
      color:$color-secondary;
    }
}

.btn-sign {
  border-radius: 50px;
  color: $color-primary;
  border: 1px solid $color-primary;

  &:hover {
    color:$color-secondary;
    background-color: $color-primary;
  }
}

.plan-price-sub {
  background: $color-secondary;
}

.details-des {
  background-color: $color-grey;
  padding-left: 10px;
  border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


.plan-price-sub{
     margin-bottom: 46px;
  div {

    &:last-child {
      text-align: center;
    }
  }
}

footer {

background-color: $color-footer;
color: $color-links;
    padding-bottom: 13px;
    padding-top: 13px;

.all-list{

 a {
   color: $color-links;

 }
  .footer-list{

    ul {
          float: left;
          a {

            &:hover {
              text-decoration: none;
              color: $color-secondary;
            }
          }
    }


}

.social-links {

  ul {
    float: right;

    a {
     .ion-social-facebook {


      &:hover {
        text-decoration: none;
        color: $color-facebook;
      }
    }

    .ion-social-twitter {


     &:hover {
       text-decoration: none;
       color: $color-twitter;
     }
   }

   .ion-social-instagram {


    &:hover {
      text-decoration: none;
      color: $color-instagram;
    }
  }

  .ion-social-googleplus {


   &:hover {
     text-decoration: none;
     color: $color-googleplus;
   }
 }
  }
}


}
}
  ul {
    list-style-type: none;
    display: flex;
    li {
      padding: 7px;

    }
  }

}



.copyright {
  text-align: center;
  color: $color-links;
}

form {
    display: flex;
    justify-content: center;
}

  #name {
   width: 400px;
  }
  #email {
   width: 400px;

  }

  #new {
    width: none!important;
  }

  #find-us {
   width: 400px;
  }
  textarea{
   width: 400px;
  }
